{% extends'indexrto.html'%}
{% block body %}

<body>
<table width="200" border="1">
  <tr>
    <td scope="col"><a href="scrapdealerar">accept scrap dealers</a></td>
  </tr>
  <tr>
    <td><a href="complaint">View Complaint &amp; Send Reply </a></td>
  </tr>
  <tr>
    <td><a href="">Verified Scrap Dealers </a></td>
  </tr>
  <tr>
    <td><a href="#">Add/Manage Dataset </a></td>
  </tr>
  <tr>
    <td><a href="scraprequest">Scrap request from dealers </a></td>
  </tr>
  <tr>
    <td><a href="certificate">View Forwarded Scrap certfct and Approve </a></td>
  </tr>
  <tr>
    <td><a href="changepwd">Change Password </a></td>
  </tr>
  <tr>
    <td><a href="/">Logout</a></td>
  </tr>
</table>
</body>
{% endblock %}
